# replace with your API keys for Cloud Pak Entitled, Cloud Pak Staging and Docker Hub container registries
# update the name for the CLUSTER and rename this file to: iafenv.config 

export CP_ICR_IO=cp.icr.io
export CP_ICR_IO_USER=cp
# Get prod entitlement key here: https://myibm.ibm.com/products-services/containerlibrary
export CP_ICR_IO_KEY=<ENTITLEMENT-KEY>
export CP_STG_ICR_IO=cp.stg.icr.io
export CP_STG_ICR_IO_USER=cp
# Get staging entitlement key here: https://wwwpoc.ibm.com/myibm/products-services/containerlibrary
export CP_STG_ICR_IO_KEY=<STAGING-ENTITLEMENT-KEY>
export DOCKER_IO=docker.io
export DOCKER_IO_USER=<DOCKER-USER>
export DOCKER_IO_KEY=<DOCKER-PASSWORD>
export IAF_PROJECT=iaf
export CLUSTER=<CLUSTER_NAME>
